
html { 
  background: url(../images/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


 
    path {  stroke: #fff; }
    path:hover {  opacity:0.9; }
    rect:hover {  fill:blue; }
    .axis {  font: 10px sans-serif; }
    .legend tr{    border-bottom:1px solid grey; }
    .legend tr:first-child{    border-top:1px solid grey; }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {  display: none; }
    .legend{
        margin-bottom:1px;
        display:inline-block;
        border-collapse: collapse;
        border-spacing: 0px;
    }
    .legend td{
        padding:4px 5px;
        vertical-align:bottom;
    }
    .legendFreq, .legendPerc{
        align: right;
        width:20px;
    }



a {
	color: black;
}
a:hover {
	color: #fff3d8;
	text-decoration: underline;
}
div.blocc {
    margin: 40px;
    border: 0px solid #ccc;
    float: left;

    
 
}


img:hover {
    border: 2px solid #fff3d8;
}


img {
    border: 1px solid black;

}


.content {

  background-color:  rgba(171,166,156,0.6);
    height: 4427px;
    width: 1133px;
    margin: auto;
    padding: 3px;

}

h1{

	letter-spacing: 8px ;
}


h4{
  letter-spacing: 3.5px; 
}

h5{
  letter-spacing: 1.5px; 
}



body {
   font-family: "Calibri"; 
   font-weight: 300;


}

a {
    color: black;
}



th {

	font-weight: normal;
	letter-spacing: 1;
}

.blocc {

	 display: inline;
}


#THYP{


	float:center ;
	margin: auto;
	padding: 15px 10px; 
}

