
html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


a {
	color: black;
}
a:hover {
	color: yellow;
	text-decoration: underline;
}
div.img {
    margin: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;

}
div.img:hover {
    border: 1.5px solid #777;

}
div.img img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 5px;
    
}

h1{

	letter-spacing: 7.5px ;
}

body {
   font-family: "Calibri"; 
   font-weight: 300;


}

a {
    color: black;
}



th {

	font-weight: normal;
	letter-spacing: 1;
}

.blocc {

	 display: inline;
}


